#main_page_header{
    background-color: #0060FF;
    text-align: center;
    font-family: Arial;
}

#second_page_header{
    background-color: #0060FF;
    text-align: center;
    font-family: Arial;
}

.teams{
    text-align: center;
    color: white;
    font-family: Arial;
}

h1{
    text-align: center;
    color: white;
}

h2{
    color: white;
    text-align: center;
}

body{
    background-color: #0060FF;
}

p{
    text-align: center;
    color: white;
}

*{
    font-family: Arial;
}

#link{
    text-align: center;
    color: white;
}

#teams ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    font-size: 25px;
    color: white;
}

#agent_roles ul{
    list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  color: white;
}

#gamemodes ol{
    list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  color: white;
}

img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

