#main_page_header{
    background-color: #0060FF;
    text-align: center;
    font-family: Arial;
}

#second_page_header{
    background-color: #0060FF;
    text-align: center;
    font-family: Arial;
}

.teams{
    text-align: center;
    color:darkblue;
    font-family: Arial;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

body{
    background-color: #0060FF;
}

p{
    text-align: center;
}

*{
    font-family: Arial;
}

#agent_roles ul{
    list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#gamemodes ol{
    list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

img {
  width: 50%;
  border-radius: 8px;
  display: block;
  margin: auto;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

